<!--
=========================================================
* Ashvira UI Dashboard - v0.0.1
=========================================================

* Product Page: https://demo.jhom.co/oc-ashvira-ui-dashboard
* Copyright 2021 Nexa Domain (https://jhom.com)
* Licensed under MIT (https://github.com/nexadomaain/oc-ashvira-ui-dashboard/blob/master/LICENSE.md)

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
{% if description %}
  <meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
{% endif %}
  <link rel="apple-touch-icon" sizes="76x76" href="view/image/favicon.png">
  <link rel="icon" type="image/png" href="view/image/favicon.png">
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="view/stylesheet/nucleo-icons.css" rel="stylesheet" />
  <link href="view/stylesheet/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="view/stylesheet/ashvira-ui-dashboard.css?v=0.0.1" rel="stylesheet" />
{% for style in styles %}
  <link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<script src="view/javascript/common.js" type="text/javascript"></script>
{% for script in scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}
</head>