{{ header }}{{ column_left }}{{ navbar }}
<div class="card">
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
    <h2 class="text-danger h3"><i class="fas fa-exclamation-triangle"></i> {{ heading_title }}</h2>
  </div>
  <div class="card-body pt-4">
    <p class="card-description">{{ text_not_found }}</p>
  </div>
</div>
{{ footer }}